registry=${NPM_REGISTRY_URL}                                                                              ┌──────────────────────────────────────┐
always-auth=true                                                                                                                               ↑1 
//${NPM_REGISTRY_HOST}/:_authToken="${NPM_AUTH_TOKEN}"   
